body { background-color: #40407A;
       color: #40407A;
	   font-family: Verdana, Arial, sans-serif;
	   max-width: 1600px;
	   min-width: 900px;
	   margin: 0;
}
#wrapper { width: 80%; margin: auto;
           background-color: #F5F5F5;
		   padding: 2em; }
header { background-color: #40407A;      
        color: #FFF;
        background-image: url(sunrise.jpg);
        background-size: 100% 100%;
}
.home { height: 40vh;
       padding-top: 6em;
	   padding-left: 8em;
	   font-size: 120%;
	   min-height: 300px; }
.content { height: 200px;
          padding-top: 2em;
		  padding-left: 8em;
		  padding-bottom: 2em; }
nav { text-align: right;
     background-color: #FFF;
	 margin: 0;
	 padding-top: 0.5em; 
	 padding-bottom: 1em;
	 padding-right: 1em;
}
nav a { text-decoration: none; }

li, dd { font-size: 90%; }
footer { font-size: small;
	   text-align: center;
	   font-style: italic; }
#mathero { height: 300px;
           background-image: url(yogamat.jpg);
           background-size: 100% 100%; 
		   background-repeat: no-repeat; }
#loungehero { height: 300px;
           background-image: url(yogalounge.jpg);
           background-size: 100% 100%; 
		   background-repeat: no-repeat; }	  
h2 { margin: 0; }		  
		  
		  
		  
		  